body{

}
.searchbar{
    /*background-color: black;*/
    width: 250px;
    margin-right: 0px;
    padding-bottom: 50px;
}
 .contenu-principal{
    float: left;
    margin-top: 25px;
    padding-left: 20px;
 }
 img{
    margin-left: 25px;
    margin-bottom: 30px;
    
 }
 .logo img{
    width: 60px ;height: 50px;
    padding-bottom: 20px;
    }
    .navbar{
        height: 50px;
    }
 
 

 
